# Database Settings
DB_NAME=velo_db
DB_USER=your_secure_username_here
DB_PASSWORD=your_secure_password_here

# Admin Settings
ADMIN_USERNAME=test-admin
ADMIN_PASSWORD=TestAdmin1!
ADMIN_EMAIL=test@test.com

# App Settings
SERVER_PORT=8080

# Security
JWT_SECRET=your_jwt_secret_key_which_is_very_long